<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fernando.controlekm">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <compatible-screens>

        <!-- all small size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="480"
            android:screenSize="small" />

        <!-- all normal size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="480"
            android:screenSize="normal" />
        <!-- large screens -->
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />
        <!-- xlarge screens -->
        <screen
            android:screenDensity="hdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="xlarge" />
    </compatible-screens>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/new_ic_controlekm"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/new_ic_controlekm"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenKM"
            android:theme="@style/AppCompat.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:theme="@style/AppCompat.TelaCheia" />
        <activity
            android:name=".CadastrarKm"
            android:label="@string/cadastrar" />
        <activity
            android:name=".CadastrarUsuario"
            android:label="@string/cadastrar" />
        <activity
            android:name=".ListUser"
            android:label="@string/lista_usuario"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GeradorPdf"
            android:label="@string/realatorio" />
        <activity
            android:name=".AlterarKm"
            android:label="@string/alterar" />
        <activity
            android:name=".Utilitario"
            android:label="Utilitários" />
        <activity
            android:name=".AlterarUser"
            android:label="@string/alterar" />
        <activity
            android:name=".ListarKm"
            android:label="@string/listar_km"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RecyclerViewKm"
            android:label="@string/listar_km" />
        <activity
            android:name=".RecyclerViewUsuario"
            android:label="@string/listar_usuario" />
        <activity
            android:name=".CadastrarTrocaOleo"
            android:label="@string/troca_oleo" />
        <activity
            android:name=".CadastrarManutencao"
            android:label="@string/manutencao" />

        <receiver
            android:name=".Receiver.AlarmReceiverTrocaOleo"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".Receiver.AlarmReceiverManutencao"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".Sobre"
            android:label="@string/sobre"/>
    </application>

</manifest>